# lambda function
lambda function are small unnamed fucntions defined using keyword lambda
syntax: lambda  arguments: expression

In [5]:

multiply = lambda a,b,c: a*b*c
result = multiply(1,2,3)
print(result)
add = lambda a,b,c: a+b+c
print(add(2,3,5))

6
10

In [4]:
cube = lambda a: a**3
result =cube(3)
print(result)

27

# Funciton tools: map(),filter(),zip(),reduce()
## map()
* applies a function to each item in an iterable

In [9]:
# lambda x: x**3
input_list = [1,5,6,3]
output_list = list(map(lambda x: x**3,input_list))
print(output_list)
#for square
squares = list(map(lambda x : x**2,input_list))
print(squares)

[1, 125, 216, 27]
[1, 25, 36, 9]

In [ ]:
nums = [5,6,7,8]
# return square if odd or else return same number
def squareFUnction(x):
    if x%2==0:
        return x
    else:
        return x**2
squares = list(map(squareFUnction,nums))
print(squares)

[25, 6, 49, 8]

In [14]:
##returns map object
map(squareFUnction,nums)

In [ ]:
#converting list of strings to uppercase
strings_words = ["ujjal","prince","darshan","nirad"]
uppercase = list(map(lambda word: word.upper(),strings_words))
print(uppercase)

['UJJAL', 'PRINCE', 'DARSHAN', 'NIRAD']

In [18]:
#celcius to fahrenheit
cel_temp = [12,23,24,56,-40,0]
fah_temp = list(map(lambda x: x*1.8 + 32,cel_temp))
print(fah_temp)

[53.6, 73.4, 75.2, 132.8, -40.0, 32.0]

# Filter()
* Filter items based on condition

In [ ]:
num_list = [1,2,3,4,4,5,6,7,8]
#return number divisible by 2 or 3
output_list=list(filter(lambda x: x %2==0 or x%3==0,num_list))
print(output_list)

[2, 3, 4, 4, 6, 8]

In [9]:
#use filter to extract all non-empty strings from a list
nam_list = ['apple','bannana','','hari']
def check_empty(nam):
        return len(nam)!=0



out_list = list(filter(check_empty,nam_list))
print(out_list)

['apple', 'bannana', 'hari']

In [11]:
n_list = [1,2,3,4,5,6,7]
def check_div(n):
    return n%3==0
out_list = list(filter(check_div,n_list))
print(out_list)

[3, 6]

In [17]:
strings_list = ['apple','bannana','cherry','avacado']
def a_start(stri):
    return stri[0]=='a' or stri[0]=='A'
out_list = list(filter(a_start,strings_list))
print(out_list)

['apple', 'avacado']

In [25]:
#Use filter() to extract all prime numbers from a list of integers.
n_list = [1,2,3,4,5,6,7]
def check_div(n):
    count = 0
    for i in range(n):
        if n%2==0:
            count = count +1
    return count==0

out_list = list(filter(check_div,n_list))
print(out_list)

[1, 3, 5, 7]

# Zip
combines multiple iterables into tuple

In [24]:
names = ['Alice','Bob','Charlie','John']
scores = [85,90,95,100]
combined = list(zip(names,scores))
print(combined)
#for dictionary
combined = dict(zip(names,scores))
print(combined)
#for uneven combination the smallre one is paired and the extras are ignored
names = ['Alice','Bob','Charlie','John',"Ujjal"]
scores = [85,90,95,100,45,0]
combined = list(zip(names,scores))
print(combined)

[('Alice', 85), ('Bob', 90), ('Charlie', 95), ('John', 100)]
{'Alice': 85, 'Bob': 90, 'Charlie': 95, 'John': 100}
[('Alice', 85), ('Bob', 90), ('Charlie', 95), ('John', 100), ('Ujjal', 45)]

# reduce

* reduces an interable to a single value using a function
* needs to be imported from functools

In [37]:
from functools import reduce
nums = [1,2,3,4]
#product of all the terms
product = reduce(lambda x,y : x*y,nums)
print(product)
#sum of all the terms
sum = reduce(lambda x,y: x+y,nums)
print(sum)
#max no in a list
max = reduce(lambda x,y: x if x>y else y,nums)
print(max)

24
10
4